node_modules
npm-debug.log
.env
.env.local
.env.*.local
.git
.gitignore
*.md
!README.md
tests
test
__tests__
__test__
coverage
.nyc_output
.DS_Store
.AppleDouble
.LSOverride
*.log
logs
dist
build
.next
.cache
.parcel-cache
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.idea
.vscode
*.swp
*.swo
*~
.env.production.local
